doctype html
meta(charset="utf-8")
html
    head
        title #meatcheckr
        link(rel="stylesheet" href="styles.css")
    body
        .intro
            h1 #meatcheckr
            p.
                Opened some meat? Check how long 'till
                it's unsafe to eat.
        .meatcheckr
            .meatcheckr-form
                label(for="meatcheckr").
                    I've just opened some meat. It's&hellip;
                input(type="search" id="meatcheckr" placeholder="I've just opened some...")
        script(src="meat-suggestions.js")
        script(src="meatcheckr.js")
        script(src="app.js")
