/**
 * #meatcheckr styles
 * @author Jack Armley
 */

/**
 * Dependancies
 */
@import 'config';
/**
 * League Spartan
 * @src: League of Movable Type
 */
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/league-spartan/leaguespartan-bold.eot');
    src: url('../fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
         url('../fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/**
 * Outer styles
 */
*{
    box-sizing: border-box;
}
html{
    background-color: getcolor('bg');
    font-size: 62.5%;
}
body{
    display: flex;
    width: auto;
    height: 100vh;
    color: getcolor('base');
    font: 400 normal 160%/1.5em getprop('basefont'), sans-serif;
}
p{
    margin: 0 0 1em;
}



/**
 * Meatcheckr component styles
 */
.meatcheckr{
    margin: auto;
    &-header{}
        &-logo{
            position: relative;
            display: block;
            height: 10rem;
            box-shadow: inset 0 2rem getcolor(key);
            span{

            }
        }
    &-form{
        background-color: getcolor(light);
    }
}
